html,body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fd7e14 , #ffffff);
    background-repeat: no-repeat;
}
.slider .progress{
    background: linear-gradient(to left, #fd7e14, #ffffff);
}
.apply-filter-btn{
    background: #fd7e14;
    border: #fd7e14;
}
select.dropdown{
    border: 2px solid #fd7e14;
}
.asu-first{
    border-bottom: 2px solid #fd7e14;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner:after {
    background-color: #fd7e14;
}
.finders{
    width: 100%;
    height: 10vh;
    display: flex;
    /* background-color: #f4af56; */
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 5px 5px;
}
.custom-control .btn-check:checked+.btn-outline-success {
    border: 1px solid #febd69  ;
    background-color:  #fef8f1 ;
}